# Common
RESTART_POLICY=always

# PostgreSQL
POSTGRES_IMAGE=postgres:latest
POSTGRES_CONTAINER_NAME=postgres_db_backend
POSTGRES_USER=postgres
POSTGRES_PASSWORD=verYs3cret
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Redis
REDIS_IMAGE=redis:latest
REDIS_CONTAINER_NAME=redis_container
REDIS_PASSWORD=redisPd
REDIS_PORT=6379

# Zookeeper
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.2.1
ZOOKEEPER_CONTAINER_NAME=zookeeper
ZOOKEEPER_PORT=2181

# Kafka
KAFKA_IMAGE=confluentinc/cp-kafka:7.2.1
KAFKA_CONTAINER_NAME=kafka
KAFKA_PORT=9092
KAFKA_ADVERTISED_HOST=localhost

# MinIO
MINIO_IMAGE=minio/minio:latest
MINIO_CONTAINER_NAME=gary-backend-minio
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Milvus
MILVUS_VERSION=v2.4.5
MILVUS_CONTAINER_NAME=gary-backend-milvus
MILVUS_POSTGRES_HOST=postgres
MILVUS_POSTGRES_PORT=5432
MILVUS_TOKEN=milvus-default-token
MILVUS_PORT=19530
MILVUS_HEALTH_PORT=9091

# Attu
ATTU_IMAGE=zilliz/attu:latest
ATTU_CONTAINER_NAME=gary-backend-attu
ATTU_PORT=8001
MILVUS_ROOT_USER=root
MILVUS_ROOT_PASSWORD=Milvus

# Backend app runtime (for Spring Boot)
# APP_IN_DOCKER=true when backend runs in Docker container
APP_IN_DOCKER=false
KAFKA_BOOTSTRAP_SERVERS=
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=verYs3cret
SERVER_PORT=8000
