HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env
*.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Bopomofo4j temp files
bopomofo4j-temp/

# STT Models (GGML / ONNX)
/src/main/resources/models/*.bin
/src/main/resources/models/*.onnx
/src/main/resources/models/*.json
/src/main/resources/models/*.txt
/models/ggml-large-v3-turbo.bin
/models/ggml-tiny.bin
